6->4 translation uses incorrect values for routing.

The incomplete solution to #167 brought a problem.

The translation of the IP headers is slightly tricky because some fields depend on others. For this particular set of fields, the order used to be

1. TOS
2. TTL
3. Protocol
4. Addresses

Which was fine, and the natural [RFC 791](http://tools.ietf.org/html/rfc791) and [RFC 6145](http://tools.ietf.org/html/rfc6145) order.

#167 introduced a sort of dependency between TTL and addresses - the latter has to be translated before now. So the order became this:

1. Addresses
2. TOS
3. TTL
4. Protocol

However, I failed to recall that when RFC 6791 is involved, translation of the address fields can need premature routing - which depends on TOS and Protocol. So it should be like this:

1. TOS
2. Protocol
3. Addresses
4. TTL

So, when SIIT Jool needs to source an ICMP error using an empty [6791 pool](https://www.jool.mx/usr-flags-pool6791.html), it will pass in uninitialized values, and Linux can fail to route the packet correctly. The ICMP error will be probably dropped, but we're unfortunately talking about [undefined behaviour in C](http://blog.regehr.org/archives/213).

This is already narrowed down to specific situations and packets, but is probably even more difficult to spot in practice because not everyone routes based on TOS and Protocol. In fact, I see very few users of Protocol in Linux's routing code. I'm thinking this parameter is probably just legacy fat.

Work around by inserting values to pool6791. This will prevent premature routing.